@{
    ViewBag.Title = "ABOUT";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


    <font style="font-family:Arial; font-size:16px;">
    In this application, I implement a calendar in ASP.NET MVC by using jQuery Fullcalendar plugin.<br />
    This calendar application allows user to:</br>

    -- Select a date to display </br>
    -- Input a new event for a selected date </br>
    -- Retrieves and displays the list of events </br></br>
</font>
