@{
    ViewBag.Title = "CONTACT";
}
<h3>@ViewBag.Title</h3>
<h3>@ViewBag.Message</h3>
Web Developer <br/>
University of Florida | Information Systems and Operations Management


<br/>
<br />
    Address:<br />
    3700 Windmeadows Blvd, AA268<br />
    Gainesville, Fl 32608<br /><br />
<abbr title="Phone">Ph:</abbr>
    352-562-6609 <br />
<br />
    



    <strong>Email:</strong>   <a href="https://accounts.google.com/ServiceLogin?sacu=1&scc=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&hl=en&service=mail&ss=1&ltmpl=default&rm=false">shanjiang007@gmail.com</a><br/>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/ufshanjiang">www.linkedin.com/in/ufshanjiang</a> <br/>
    <strong>Github:</strong> <a href="https://github.com/ShanJiang">github.com/ShanJiang</a>
