@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mobiquity Google Calendar</title>

    

</head>
<body>
    <h2>&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160Mobiquity Calendar</h2>
 
    <div id="calendar"></div>


    @section scripts{

        <script type="text/javascript">

            $(document).ready(function () {

                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();


                var calendar = $('#calendar').fullCalendar(
                {

                    header:
                    {
                        left: 'prev,next,today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },

                    defaultView: 'month',

                    selectable: true,
                    selectHelper: true,

                    select: function (start, end, allDay) {

                        var title = prompt('Event What:', 'Happy New Year');

                        if (title) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true
                            );
                        };
                        calendar.fullCalendar('unselect');
                    },

                    editable: true,

                    events: [
					{
					    title: 'New Year',

					    start: new Date(y, m, d-1)
					},

					{
					    title: 'Vacation',
					    start: new Date(y, m, d+40),
					    end: new Date(y, m, d+43)
					},
					
					{
					    id: 1,
					    title: 'Dancing',
					    start: new Date(y, m, d+44, 16, 0),
					    allDay: false
					},
					{
					    title: 'Meeting',
					    start: new Date(y, m, d+29, 10, 30),
					    allDay: false
					},
					
					{
					    title: 'Birthday Party',
					    start: new Date(y, m, d+19, 19, 0),
					    end: new Date(y, m, d+19, 22, 30),
					    allDay: false
					},
					
                    ]
                });


                });

            


        </script>
    }
</body>
</html>